[class*="col-"] {
  float: left;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.main {
  background-color: #000;
}

@media only screen and (min-width: 900px) {
  .hero-wrap {
    position: relative;
    width: 100vw;
  }

  .hero-wrap::before {
    background-image: url("./hero_banner.png");
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .hero {
    height: 100vh;
    background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    width: calc(100vw-400px);
    position: relative;
    padding: 0px 200px;
  }

  .popout-menu {
    display: none;
  }

  .navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80px;
    width: 100%;
  }

  .mobile-navbar {
    display: none;
  }

  .navbar h1 {
    font-size: 40px;
    font-weight: 900;
  }

  .navbar h1 span {
    font-size: 20px;
    font-weight: 400;
    margin-left: 12px;
    color: #3a86ff;
  }

  .breadcrumb-search {
    display: flex;
    align-items: center;
  }

  .breadcrumb {
    display: flex;
    justify-content: space-evenly;
    width: 468px;
    max-width: 25vw;
  }

  .breadcrumb p {
    cursor: pointer;
  }

  .breadcrumb_current {
    color: #3a86ff;
  }

  .search {
    width: 17px;
    height: 17px;
    margin-left: 120px;
  }

  .intro {
    position: absolute;
    top: 400px;
  }

  .intro_h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 0px;
    font-weight: 900;
    color: #3a86ff;
  }

  .intro_h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 30px;
  }

  .intro_desc {
    font-size: 22px;
    line-height: 30px;
    margin: 0px;
    color: #fff;
    width: 574px;
    margin-bottom: 50px;
  }

  .watch_btn {
    background-color: #3a86ff;
    width: 160px;
    height: 48px;
    border-radius: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .feature {
    margin-top: 140px;
    margin-bottom: 16px;
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feature h1 {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.1em;
  }

  .feature h1 span {
    font-size: 24px;
    font-weight: 400;
    color: #3a86ff;
    letter-spacing: 0.1em;
  }

  .filter_btn {
    background-color: transparent;
    width: 224px;
    height: 44px;
    padding: 12px 12px;
    border-radius: 100px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter_btn p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0px;
  }

  .mobile_filterbtn {
    display: none;
  }


  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    gap: 40px;
    padding: 0px 100px;
  }

  .movie-poster {
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    height: 525px;
    z-index: 1;
    position: relative;
  }

  .movie-poster img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 300ms ease-out;
    z-index: 2;
  }

  .movie-poster:hover img {
    transform: scale(1.1);
  }

  .movie-poster-overlay {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.9) 85%
    );

    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    position: absolute;
    top: 0px;
    z-index: 3;
    opacity: 0;
  }

  .mobile-desc {
    display: none;
  }

  .movie-poster:hover .movie-poster-overlay {
    opacity: 1;
  }

  .movie-poster-popover {
    display: none;
    top: 340px;
    position: absolute;
    height: 100%;
    z-index: 4;
    padding: 0px 18px;
    transition: 0.5s ease;
    opacity: 0;
  }

  .movie-poster:hover .movie-poster-popover {
    opacity: 1;
    display: block;
  }

  .movie-text-a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
  }

  .movie-text-b {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }

  .movie-text-c {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
  }

  .popularity-div {
    display: flex;
    align-items: center;
    height: 22px;
  }

  .fire {
    width: 18px;
    height: 22px;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    height: 100vh;
    background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    width: calc(100vw-2px);
    position: relative;
    padding: 0px 40px 0px 60px;
  }

  .popout-menu {
    display: none;
  }

  .navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80px;
    width: 100%;
  }

  .mobile-navbar {
    display: none;
  }

  .navbar h1 {
    font-size: 30px;
    font-weight: 900;
  }

  .navbar h1 span {
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
    color: #3a86ff;
  }

  .breadcrumb-search {
    display: flex;
    align-items: center;
  }

  .breadcrumb {
    display: flex;
    justify-content: space-evenly;
    max-width: 40vw;
  }

  .breadcrumb p {
    cursor: pointer;
    font-size: 12px;
  }

  .breadcrumb_current {
    color: #3a86ff;
  }

  .search {
    width: 17px;
    height: 17px;
    margin-left: 30px;
  }

  .intro {
    position: absolute;
    top: 400px;
  }

  .intro_h1 {
    font-size: 30px;
    line-height: 38px;
    margin: 0px;
    font-weight: 900;
    color: #3a86ff;
  }

  .intro_h2 {
    font-size: 30px;
    line-height: 38px;
    margin: 0px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 30px;
  }

  .intro_desc {
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    color: #fff;
    width: 372px;
    margin-bottom: 50px;
  }

  .watch_btn {
    background-color: #3a86ff;
    width: 160px;
    height: 48px;
    border-radius: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .feature {
    margin-top: 140px;
    margin-bottom: 16px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feature h1 {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.1em;
  }

  .feature h1 span {
    font-size: 24px;
    font-weight: 400;
    color: #3a86ff;
    letter-spacing: 0.1em;
  }

  .filter_btn {
    background-color: transparent;
    width: 200px;
    height: 44px;
    padding: 12px 8px;
    border-radius: 100px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile_filterbtn {
    display: none;
  }

  .filter_btn p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    gap: 40px;
    padding: 0px 60px;
  }

  .movie-poster {
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    height: 525px;
    z-index: 1;
    position: relative;
  }

  .movie-poster img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 300ms ease-out;
    z-index: 2;
  }

  .movie-poster:hover img {
    transform: scale(1.1);
  }

  .movie-poster-overlay {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.9) 85%
    );

    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    position: absolute;
    top: 0px;
    z-index: 3;
    opacity: 0;
  }

  .mobile-desc {
    display: none;
  }

  .movie-poster:hover .movie-poster-overlay {
    opacity: 1;
  }

  .movie-poster-popover {
    display: none;
    top: 340px;
    position: absolute;
    height: 100%;
    z-index: 4;
    padding: 0px 18px;
    transition: 0.5s ease;
    opacity: 0;
  }

  .movie-poster:hover .movie-poster-popover {
    opacity: 1;
    display: block;
  }

  .movie-text-a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
  }

  .movie-text-b {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }

  .movie-text-c {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
  }

  .popularity-div {
    display: flex;
    align-items: center;
    height: 22px;
  }

  .fire {
    width: 18px;
    height: 22px;
    margin-right: 12px;
  }
}
